<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/nav.css">
  <link rel="stylesheet" href="/styles/header.css">

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>

  <!-- Navbar pulled from partials/ directory -->
  <%- include('partials/_navbar') %>

  <header>
    <div id="searchBarStyling">
      <form action="/movies" method="GET">
        <span>Search: </span>
        <input type="text" name="query">
        <button type="submit">Search</button>
      </form>
    </div>
  </header>

  <main>

    <section>

    </section>

    <!-- products go below here! -->

    <section class = "product-feed">
      <% movies.forEach(movie => { %>
        <div class="product-item">
          <h2><%= movie.title %></h2>
          <p><%= movie.genre_name %></p>
          <p><%= movie.year %></p>
          <p>Rent now for: <%= movie.price / 100%>$</p>
          <p>Movie quality: <%= movie.quality %></p>
        </div>
      <% }) %>
    </section>


  </main>

</body>

</html>