<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/nav.css">
  <link rel="stylesheet" href="/styles/header.css">
  <link rel="stylesheet" href="/styles/chatbox.css">

  <!-- LOGO FONT -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap" rel="stylesheet">
  <!-- Font Awesome CDN -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

  <script src="/vendor/jquery-3.0.0.js"></script>
  <!-- SOCKET.IO CODE -->
  <script defer src="/socket.io/socket.io.js"></script>
  <script defer src="/scripts/socket.js"></script>
</head>

<body>
  <!-- Navbar pulled from partials/ directory -->
  <%- include('partials/_navbar') %>
  <!-- SOCKET.IO HTML -->
  <%- include('partials/_chatbox') %>

  <!-- Carousel html -->
  <h2 class="featuredMoviesOfTheWeekH2">Featured Movies of the Week</h2>
  <section id="featured-movies">
    <div class="carousel-container">
      <button class="carousel-button prev">‹</button>
      <div class="carousel">
        <div class="carousel-slide">
          <% top10NewestMovies.forEach(movie => { %>
            <div class="featuredMovieSlider">
              <img src="<%= movie.image_url %>" alt="<%= movie.title %>" class="featuredMoviePosterStyling">
              <h3 class="featuredMoviesTitleSize">
                <%= movie.title %>
              </h3>
            </div>
          <% }) %>
        </div>
      </div>
      <button class="carousel-button next">›</button>
    </div>
  </section>

  <header>
    <div id="searchBarStyling">

      <form action="/movies" method="GET">
        <span>Search: </span>
        <input type="text" name="query" placeholder="Movie Title">

        <!-- Sort -->
        <span>Sort by: </span>
        <select name="sort" id="sort_by">
          <option value="">--Select--</option>
          <option value="genre">Genre</option>
          <option value="year">Year</option>
          <option value="priceLowToHigh">Least Expensive</option>
          <option value="priceHighToLow">Most Expensive</option>
        </select>

        <button type="submit" id="search-button">Search</button>

        <!-- Advanced Features -->
        <div id="advanced_features">
        <h4 id="advanced_title">Advanced Filters:</h4>

        <!-- Filter for Genre -->
        <label for="select_genre">Genre:</label>
        <select id="select_genre" name="select_genre">
          <option value="0">Anything</option>
          <option value="1">Horror</option>
          <option value="2">Thriller</option>
          <option value="3">Comedy</option>
          <option value="4">Action</option>
          <option value="5">Family</option>
          <option value="6">Crime</option>
        </select>

        <!-- Max Price -->
        <label for="max_price">Max Price:</label>
        <input type="number" min="0" name="max_price" id="max_price" placeholder="$">

        <!-- Year -->
        <label for="year">Year:</label>
        <input type="number" min="1976" name="year" id="year" placeholder="1984">

        <!-- Quality -->
        <label for="min_quality">Minimum Quality:</label>
        <input type="number" min="1" max="5" name="min_quality" id="min_quality" placeholder="5">
        </div>

      </form>
    </div>
  </header>

  <main>
    <section class="product-feed">
      <% movies.forEach(movie => { %>
        <% if (movie.is_sold) { %>
        <div class="product-item-SOLD">
        <% } else { %>
          <div class="product-item">
          <% } %>

          <!-- Heart Icon Button -->
          <% if (cookie.userType === 'user') { %>
          <% const isFavourite = favourites.some(fav => fav.movie_id === movie.movie_id); %>
          <% if (isFavourite) { %>
            <form action="/favourites/<%= movie.movie_id %>/delete" method="POST" class="heart-icon-form">
              <input type="hidden" name="movie_id" value="<%= movie.movie_id %>">
              <button type="submit" class="heart-icon-button">
                <i class="fa fa-heart" aria-hidden="true"></i>
              </button>
            </form>
          <%} else {%>
          <form action="/favourites/<%= movie.movie_id %>" method="POST" class="heart-icon-form">
            <input type="hidden" name="movie_id" value="<%= movie.movie_id %>">
            <button type="submit" class="grey-heart-icon-button">
              <i class="fa fa-heart" aria-hidden="true"></i>
            </button>
          </form>
          <% } %>
          <% } %>

          <h2 class="titleStyling"><%= movie.title %>
          <% if (movie.is_sold) { %>
            <%= '- SOLD!' %>
            <% } %>
          </h2>

          <img src="<%= movie.image_url %>" alt="<%= movie.title %>" class="movie-poster">

          <div class="movie-info">
            <p><%= movie.genre_name %></p>
            <p><%= movie.year %></p>
            <p>Rent now for: $<%= (movie.price / 100).toFixed(2) %></p>
            <p>Movie quality: <%= movie.quality %></p>
            <p class="rt_score">🍅RT Score: <%= movie.rotten_tomatoes_score %></p>
                      <!-- Delete Movie Button -->
          <% if (cookie.userType === 'admin') { %>
            <form action="/movies/<%= movie.movie_id %>/delete" method="POST" style="display:inline">
              <button type="submit" id="delete_button">Delete</button>
            </form>
            <% } %>
  
            <!-- Mark Movie as Sold Button -->
            <% if (cookie.userType === 'admin' && !movie.is_sold) { %>
            <form action="/movies/<%= movie.movie_id %>" method="POST" style="display:inline">
              <button type="submit" id="sold_button">Mark as SOLD!</button>
            </form>
            <% } %>
          </div>

        </div>
      <% }) %>
    </section>
  </main>
</body>
</html>
